@page "/"
@inject IHttpClientFactory ClientFactory
@using dnkh.covidnumbers.models;

<h1>Covid-19 Fallzahlen im Rhein-Neckar-Kreis</h1>


@if (CurrentCovidData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
    @foreach (var city in CurrentCovidData.Cities.OrderBy( i => i.CityData.Name))
    {
        <CityComponent CityData="city.CityData" Details="DetailsDialog" />
    }
    </div>
}
<DetailsDialog  @ref="DetailsDialog" />

@code
{

 private DetailsDialog DetailsDialog { get; set; }
 private CovidModel CurrentCovidData {get;set;}
    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("DataService");

        CurrentCovidData = await client.GetFromJsonAsync<CovidModel>("https://services7.arcgis.com/0Uc5jDlEgdLosloE/arcgis/rest/services/Gemeinden/FeatureServer/0/query?f=json&where=1%3D1&outFields=*&returngeometry=false");

    }
}