@page "/"
@using dnkh.covidnumbers.models;

<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-search"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Nach einem Ort suchen" aria-label="Large" aria-describedby="inputGroup-sizing-sm" @oninput="SearchValueChanged">
</div>
<hr/>

@if (CurrentCovidData == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status" />
    </div>
     <p>
        <div class="d-flex justify-content-center text-primary" >Aktuelle Daten werden geladen...</div>
    </p>
}
else
{
    <div class="row">
    @foreach (var city in FilteredCovidData.Cities.OrderBy( i => i.CityData.Name))
    {
        <CityComponent CityData="city.CityData" />
    }
    </div>
}