<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@CityData?.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="() => Close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>BEZ: @CityData?.BEZ</p>
                <p>Einwohner: @CityData?.Einwohner</p>
                <p>Gesamtfälle @CityData?.Gf</p>
                <p>Aktive Fälle: @CityData?.Af</p>
                <p>Aktive Fälle Vortag: @CityData?.AfVt</p>
                <p>Aktive Fälle Differenz: @CityData?.AfDif</p>
                @* <p>Inzidenz (Fälle pro 100K Einwohner): @CityData?.Af100k</p> *@
                <hr/>
                <p>Neuinfektionn @CityData?.Ni</p>
                <p>Neuinfektionen Vortag @CityData?.NiVt</p>
                <p>Neuinfektionen Differenz @CityData?.NiDif</p>
                <p>7-Tage-Inzidenz @CityData?.Ni7100k</p>
                <p>7-Tage-Inzidenz Vortag @CityData?.Ni7100kvt</p>
                <p>7-Tage-Inzidenz Differenz @CityData?.Ni7100kdi</p>
                <hr/>

                <p>Genesene @CityData?.Gn</p>
                <p>Genesene Vortag @CityData?.GnVt</p>
                <p>Genesene Differenz @CityData?.GnDif</p>
                
                
                <p>Vertorbene (Summe) @CityData?.VsSu</p>
                <p>Verstorbene Vortag (Summe) @CityData?.VsSuVt</p>
                <p>Verstorbene Differenz @CityData?.VsSuDif</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Schließen</button>
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {


    private bool DoRenderComponent {get;set;} = false;
    protected override bool ShouldRender()
    {
      return DoRenderComponent;
    }

    

    private CityData CityData {get;set;}
    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void Open(CityData cityData)
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        CityData = cityData;
        DoRenderComponent = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        
        StateHasChanged();
        DoRenderComponent = false;
    }
}